
:root{
    --primary:#be50ab;
    --bg: rgb(142, 206, 195);
    --shadow: 10px 0 10px rgba(0, 0, 0,.3);
    --corners: 8px;
    --text-color:rgb(17, 26, 1);
    --light:rgb(167, 150, 103)
}

body{
    background-color: var(--bg);
    font-family: 'Lacquer', sans-serif;
    font-size: 16pt;
    color: var(--text-color);
    
    
}

header{
    margin: 3em 0;
}





img{
    max-width: 100%;
}

form{
    margin: 0;
}

input{
    background-color: transparent;
    border:none;
    border-bottom: 1px solid var(--text-color);
    outline: none;
    font-family: 'Lacquer', sans-serif;
    font-size: 14pt;
    color: var(--text-color);
    
}

button{
    background-color: rgba(0, 0, 0,.3);
    color: var(--text-color);
    font-family: 'Lacquer', sans-serif;
    
    border-radius: var(--corners);
    border: 1.5px solid rgb(24, 26, 2);
    text-transform: uppercase;
    transition: all .2s linear;
    cursor: pointer;
    padding: 1em;
}

.changeButtonStyle{
    background-color: rgb(253, 9, 58);
    border: 1.5px solid rgb(97, 0, 20);
    color: rgb(66, 2, 2);
    border-radius: var(--corners);
}

.startButtonStyle{
    background-color: rgb(0, 136, 0);
    
    color: rgb(184, 251, 49);
     border-radius: var(--corners);
    border: 1.5px solid darkgreen;
}

.okButtonStyle{
    padding: .5em;
    background-color: rgb(90, 29, 0);
    color: rgb(245, 135, 62);
}

button:hover{
    background-color: var(--bg);
    color: var(--primary);
}

.pump{
    margin-top: 80px;
    height: 130px;
    width: 180px;
    position: relative;
    align-self: flex-end;

}


.handle{
    height: 10px;
    width: 80px;
    background-color: rgb(14, 15, 5);
    position: absolute;
    top: -80px;
    left: 50px;
    display: flex;
    
    justify-content: center;
    z-index: 1;
}

.handle::before{
    content: " ";
    background-color: rgb(14, 15, 5);
    width: 10px;
    height: 80px;
    display: block;
}

.pump:active .handle{
    top: -20px;
    transition: all .05s linear;
}

.pump-box{
    background-color: rgb(14, 1, 26);
    height: 130px;
    width: 180px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    z-index: 2;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.pump-box span{
    background-color: slateblue;
    padding: .5em;
    border-radius: 25px;
}

.balloon{
    height: 120px;
    width: 100px;
    background-color: rgb(50, 66, 6);
    border-radius: 50%;
    transition: all .2s linear;
    animation: balloon-float 5s ease-in-out infinite;
    align-self: flex-end;
    margin: 0 auto;
    box-shadow: inset -10px -10px 12px rgba(0, 0, 0, 4);
    background: linear-gradient(120deg, rgba(245,245,245,1) 3%, rgba(157,231,241,1) 7%, rgba(47,148,195,1) 30%, rgba(2,72,128,1) 56%, rgba(0,0,99,1) 100%);
}


.balloon.pink{
        filter: hue-rotate(87deg);
}

.balloon.orange{
    filter: hue-rotate(185deg);
}

.balloon.green{
    filter: hue-rotate(253deg);
}

.balloon.cyan{
    filter: hue-rotate(325deg);
}

.balloon.purple{
    filter: hue-rotate(415deg);
}



@keyframes balloon-float{
    0%,100% {
        transform: translateY(-25px) rotate(5deg);
    }
    50%{
        transform: translate(0px) rotate(-5deg);
    }
}

.game-container{
    height: 300px;
}


.container{
     width: 50%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 700px){
    .container{
        width: 80%;
    }
}
.card{
    background-color:var(--light) ;
    padding: 1em;
    box-shadow: var(--shadow) ;
    border-radius: var(--corners);
    align-items: center;
    justify-content: center;
}


.shadow{
    filter: drop-shadow(var(--shadow));
}

.bg-design{
    background-color:rgb(78, 62, 18);
}

.text-design{
    color: rgb(202, 230, 101);
}

.d-flex{
    display: flex;
    align-items: center;
}

.d-flex.space-between{
    justify-content: space-between;
}

.d-flex.space-around{
    justify-content: space-around;
}

.mt-1{
    margin-top: .5em;
}

.mt-2{
    margin-top: 1em;
}

.mt-3{
    margin-top: 1.5em;
}

.mb-1{
    margin-bottom: .5em;
}

.mb-2{
    margin-bottom: 1em;
}

.mb-3{
    margin-bottom: 1.5em;
}

.text-center{
    text-align: center;
}

.hidden{
    display: none !important;
}